@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}


section.chat__section {
    width: 64vw;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.chat__section__overlay{
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    width: 64vw;
    z-index: 5;
    background: white;
}
.chat__section__overlay[inactive]{
    /* opacity: 0; */
    z-index: -1;
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
    color: navy;
}
.message__area{
    height: 82%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    /* background: #8F8BE8; */
    background: rgb(98, 156, 244);
    min-width: 200px;
    /* max-width: 45vw; */
    color: #fff;  
}
.outgoing {
    /* background: #e9eafd; */
    min-width: 200px;
    /* max-width: 45vw; */
    background: #c1d2eb;
    color: #60616b;
    margin-left: auto;
}

.outgoing p{
    min-height: 20px;
    word-break: break-all;
}


.message h4 {
    display: inline;
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
.message span{
    position: absolute;
    /* left: 10px; */
    width: 50px;
    font-size: 8px
}

#wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    border: 2px solid #8F8BE8;
    /* justify-content: space-between; */
}

section.connections__section{
    width: 35vw;
}

.extended{
    background: linear-gradient(0.25turn, #ddb76b, #eff0ee, #87d570);
}

.connection{
    /* padding: 10px 25px; */
    display: flex;
    justify-content: flex-start;
    padding: 0 25px;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: rgb(62, 62, 68);
    width: 35vw;
    height: 8vh;
    background: rgb(174, 174, 216);
    border: 2px solid rgb(130, 130, 179);
}

.connection:hover{
    background: rgb(116, 116, 157);
    color: rgb(228, 228, 239);
    cursor: pointer;
    transition: all 0.5s;
    
}

/* selecting a user from a list of users */
li[active]{
    background: rgb(142, 197, 235);
    /* background: linear-gradient(0.25turn, #ddb76b, #eff0ee, #87d570); */
    /* color: rgb(82, 132, 62); */
    color: #06f;
    border: 4px solid green;
}

.extended{
    display: flex;
    justify-content: space-between;
}

.logo_user, .buttons{
    display: flex;
    align-items: center;
}

.buttons{
    gap: 8px;
}

.button {
  align-items: center;
  background-color: rgb(98, 156, 244);
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 900;
  height: 30px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 10px;
  min-width: 60px;
  outline: 0;
  padding: 0 4px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}




.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 200ms ease-in;
    border: 1px solid rgb(35, 61, 62);
    border-radius: 10px;
    z-index: 100;
    width: 500px;
    height: 200px;
    max-width: 80%;
    /* background-color: rgb(205, 234, 236); */
    background-color: #95bbf3;
}

.modal2{
    /* height: 350px; */
}
.modal2 form{
    height: 200px;
}

.modal2 form input{
    margin-bottom: 5px;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(35, 61, 62);
}

.modal-header .title{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(35, 61, 62);
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(35, 61, 62);
}

.modal-body{
    padding: 15px 15px 0 15px;
    font-size: 1.25rem;
    height: 225px;
    /* background-color: rgb(205, 234, 236); */
    background-color: #b6cef3;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    font-weight: 900;
    display: block;
    margin-bottom: 10px;
}
form input {
    padding: 12px 20px;
    width: 80%;
    background: #ebedf1;
    border: 1px solid #ccc;
}

form button{
    font-weight: 900;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 5px;
    width: 100px;
    background: #4d8ff2;
    border: 2px solid #72a6f3;
}

form button:hover{
    color: antiquewhite;
    cursor: pointer;
    background: #85aeed;
    transition: all 0.5s;
}

.overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
}

.overlay.active{
    z-index: 50;
    opacity: 1;
    pointer-events: all;
}




@media (min-width: 768px) {
  .button-58 {
    min-width: 60px;
  }
}


